# we ingnore all the file at first
/*
**
# Reserve some general file
!.gitignore
!*.md
!LICENSE*

# For python and bash script
!*.py
!*.sh

# Some generic scripts
!/script
!/myscript

# our code: python and bash

# our code: C++
!phoneme_*
!map_*
!/phones
!/QUESST_DTW_STD
!*.cpp
!*.h
!Makefile*
!*Makefile*
!*.imp


