# we ingnore all the file at first
/*
**
# Reserve some general file
!.gitignore
!*.md
!LICENSE*

# For python and bash script
!*.py
!*.sh

# Some generic scripts
!/script
!/myscript

# our code: python and bash

# our code: C++
#!phonemes_*
#!map_*
!/phones
!/QUESST_DTW_STD
!/QUESST_DTW_STD/entity
!/QUESST_DTW_STD/util
!/QUESST_code_v1.3
!*.cpp
!*.h
!Makefile*
!*Makefile*
!*.imp


